{% extends 'partials/base.html' %}
{% load static %}

{% block page_title %}iFNINE STORES | User Profile {% endblock %}

{% block content %}


     <!-- Main Style -->
     <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" /> 
     <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" />
  
      <!-- Background css -->
     <link rel="stylesheet" id="bg-switcher-css" href="{% static 'assets/css/backgrounds/bg-4.css' %}"> 
     

<main class="main-content" id="cart-list">


    <!-- Ec breadcrumb start -->
    <div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row ec_breadcrumb_inner">
                        <div class="col-md-6 col-sm-12">
                            <h2 class="ec-breadcrumb-title">User Dashboard</h2>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <!-- ec-breadcrumb-list start -->
                            <ul class="ec-breadcrumb-list">
                                <li class="ec-breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="ec-breadcrumb-item active">Dashboard</li>
                            </ul>
                            <!-- ec-breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ec breadcrumb end -->

    <!-- User profile section -->
    <section class="ec-page-content ec-vendor-uploads ec-user-account section-space-p">
        <div class="container">
            <div class="row">
                <!-- Sidebar Area Start -->
                <div class="ec-shop-leftside ec-vendor-sidebar col-lg-3 col-md-12">
                    <div class="ec-sidebar-wrap ec-border-box">
                        <!-- Sidebar Category Block -->
                        <div class="ec-sidebar-block">
                            <div class="ec-vendor-block">
                                <!-- <div class="ec-vendor-block-bg"></div>
                                <div class="ec-vendor-block-detail">
                                    <img class="v-img" src="{% static 'assets/images/user/1.jpg' %}" alt="vendor image">
                                    <h5>Mariana Johns</h5>
                                </div> -->
                                <div class="ec-vendor-block-items">
                                    <ul>
                                        <li><a href="{% url 'core:user-profile' %}">User Profile</a></li>
                                        <li><a href="{% url 'core:user-history' %}">History</a></li>
                                        <li><a href="{% url 'core:wishlist' %}">Wishlist</a></li>
                                        <li><a href="{% url 'core:cart' %}">Cart</a></li>
                                        <li><a href="{% url 'core:checkout' %}">Checkout</a></li>
                                        <li><a href="{% url 'userauths:sign-out' %}">Logout</a></li>
                                        {% comment %} <li><a href="track-order.html">Track Order</a></li> {% endcomment %}
                                        {% comment %} <li><a href="{% url 'core:payment-completed' %}">Invoice</a></li> {% endcomment %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ec-shop-rightside col-lg-9 col-md-12">
                    <div class="ec-vendor-dashboard-card ec-vendor-setting-card">
                        
                        <div class="ec-vendor-card-body">
                            
                            <div class="row">
                                
                                <div class="col-md-12">
                                    
                                    <div class="ec-vendor-block-profile">
                                        
                                        <div class="ec-vendor-block-img space-bottom-30">
                                            
                                            <p>Hello <span>{{ request.user|title }}!</span></p>
                                            <p>From your account you can easily view and track your orders. You can manage and change your account information like address and your contact information</p>
                                        </div>
                                        
                                        <h5>Delivery Information</h5>

                                        <div>
                                            <canvas style="height: 50px;" id="myChart"></canvas>
                                        </div>

                                        <form class="mb-4" method="POST">
                                            {% csrf_token %}
                                            <div class="card-hdeader">
                                                <h5>Add Address</h5>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <input placeholder="Address" required="" class="form-control" name="address" type="text" />
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <input placeholder="Mobile" required="" class="form-control" name="mobile" />
                                                </div>
                                            </div>
                                            <span><br></span>
                                            <div class="ec-check-order-btn mb-6">
                                                <button type="submit" class="btn btn-primary" name="submit" value="Submit">Save Address</button>
                                            </div>
                                        </form>

                                        <div class="row">
                                            
                                            {% for a in address %}
                                            <div class="col-md-6 col-sm-12">
                                                <p><strong>Address {{ forloop.counter }}: </strong>{{ a.address }}</p>
                                                <p><strong>Mobile : </strong>{{ a.mobile }}</p>
                                                {% if a.status %}
                                                    <i data-address-id="{{ a.id }}" class="ecicon eci-check-circle text-success check{{ a.id }} check"></i>
                                                    <button data-address-id="{{ a.id }}" style="display:none;" class="btn btn-primary make-default-address button{{ a.id }} action_btn">Make Default</button>
                                                {% else %}
                                                    <i data-address-id="{{ a.id }}" style="display:none;" class="ecicon eci-check-circle text-success check{{ a.id }} check"></i>
                                                    <button data-address-id="{{ a.id }}" class="btn btn-primary make-default-address button{{ a.id }} action_btn">Make Default</button>
                                                {% endif %}
                                            </div>
                                            {% endfor %} 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End User profile section -->

</main>


<script>
    const labels = {{ month|safe }}
    const data = {
        labels: labels,
        datasets: [{
            label: 'Orders',
            backgroundColor: 'rgb(67,111,255)',
            borderColor: 'rgb(25, 99, 132)',
            data: {{ total_orders|safe }}
        }]
    };

    const config = {
        type: 'bar',
        data: data,
        options: {}
    };
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>
    
{% endblock content %}