{% extends 'partials/base.html' %}
{% load static %}

{% block page_title %}iFNINE STORES | Home {% endblock %}
{% block content %}


    <!--  category Section Start -->
    <section class="section ec-category-section section-space-p">
        <div class="container">
            <div class="row d-none">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2 class="ec-title">Top Category</h2>
                    </div>
                </div>
            </div>
            <div class="row margin-minus-b-15 margin-minus-t-15" data-animation="fadeIn">
                <div id="ec-cat-slider">
                {% for c in categories %}
                <div class="ec_cat_content ec_cat_content_1 col-sm-12 col-md-6 col-lg-3">
                    <div class="ec_cat_inner ec_cat_inner-1">
                        <div class="ec-category-image">
                            <img src="{{c.image.url}}" class="svg_img" alt="category-image" />
                        </div>
                        <div class="ec-category-desc">
                            <h3>{{c.title}} <span title="Category Items">({{c.category.count}})</span></h3>
                            <a href="{% url 'core:category-product-list' c.cid %}" class="cat-show-all">Show All <i class="ecicon eci-angle-double-right"
                                    aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}                
            </div>
        </div>
        </div>
    </section>
    <!--category Section End -->

    <!-- Main Slider Start -->
    <div class="ec-main-slider section section-space-pb-30">
        <div class="container"> 
            <div class="ec-slider swiper-container main-slider-nav main-slider-dot">
            <!-- Main slider -->
            <div class="swiper-wrapper">
                <div class="ec-slide-item swiper-slide d-flex slide-1">
                    <div class="container align-self-center">
                        <div class="row">
                            <div class="col-sm-12 align-self-center">
                                <div class="ec-slide-content slider-animation">
                                    <h2 class="ec-slide-stitle"></h2>
                                    <h1 class="ec-slide-title">Interior Finishings</h1>
                                    <div class="ec-slide-desc">
                                        
                                        <a href="{% url 'core:product-list' %}" class="btn btn-lg btn-primary">Shop Now <i
                                                class="ecicon eci-angle-double-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ec-slide-item swiper-slide d-flex slide-2">
                    <div class="container align-self-center">
                        <div class="row">
                            <div class="col-sm-12 align-self-center">
                                <div class="ec-slide-content slider-animation">
                            
                                    <h2 class="ec-slide-stitle"></h2>
                                    <h1 class="ec-slide-title">Smart Home & Tech Gadgets</h1>
                                    <div class="ec-slide-desc">
                                        
                                        
                                        <a href="{% url 'core:product-list' %}" class="btn btn-lg btn-primary">Shop Now <i
                                                class="ecicon eci-angle-double-right" aria-hidden="true"></i></a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-white"></div>
            <div class="swiper-buttons">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            </div>
    </div>
    </div>  
    <!-- Main Slider End -->

    <!-- Product tab Area Start -->
    <section class="section ec-product-tab section-space-p">
        <div class="container">
            <div class="row">

                <!-- Sidebar area start -->
                <div class="ec-side-cat-overlay"></div>
                <div class="col-lg-3 sidebar-dis-991">
                    <div class="cat-sidebar">
                        <div class="cat-sidebar-box">
                            <div class="ec-sidebar-wrap">
                                <!-- Sidebar Category Block -->
                                <div class="ec-sidebar-block">
                                    <div class="ec-sb-title">
                                        <h3 class="ec-sidebar-title"><a href="{% url 'core:category-list' %}">Category<button class="ec-close"></button></h3>
                                    </div>
                                    {% for c in categories %}
                                    <div class="ec-sb-block-content">
                                        <ul>
                                            <li>
                                                <div class="ec-sidebar-block-item"><img src="{{c.image.url}}" class="svg_img" alt="drink" /><a href="{% url 'core:category-product-list' c.cid %}"/>{{c.title}}</div>
                                            </li>
                                        </ul>
                                    </div>
                                    {%endfor%}
                                </div>
                    
                            </div>
                        </div>
                        <div class="ec-sidebar-slider">
                            <div class="ec-sb-slider-title">Best Sellers</div>
                            
                            <div class="ec-sb-pro-sl">
                                {% for p in products %}
                                <div>
                                    
                                    <div class="ec-sb-pro-sl-item">
                                        <a href="{% url 'core:product-detail' p.pid %}" class="sidekka_pro_img"><img
                                                src="{{ p.image.url }}" alt="product" /></a>
                                        <div class="ec-pro-content">
                                            <h5 class="ec-pro-title"><a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a></h5>
                                            <div class="ec-pro-rating">
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                            </div>
                                            <span class="ec-price">
                                    
                                                <span class="new-price">₦{{p.price}}</span>
                                            </span>
                                        </div>
                                    </div>
                                    
                                </div>
                                {% endfor %}
                            </div>
                            
                        </div>
                    </div>
            </div> 

                <!-- Product area start -->
                <div class="col-lg-9 col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title">
                                <h2 class="ec-title">New Products</h2>
                            </div>
                        </div>

                        <!-- Tab Start -->
                    </div>
                    <div class="row margin-minus-b-15">
                        <div class="col">
                            <div class="tab-content">
                                <!-- 1st Product tab start -->
                                <div class="tab-pane fade show active" id="all">
                                    <div class="row">

                                        {% for p in products %}
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 ec-product-content">
                                            <div class="ec-product-inner">
                                                <div class="ec-pro-image-outer">
                                                    <div class="ec-pro-image">
                                                        <a href="{% url 'core:product-detail' p.pid %}" class="image">
                                                            <span class="label veg">
                                                                <span class="dot"></span>
                                                            </span>
                                                            <img class="main-image" src="{{ p.image.url }}" alt="Product" />
                                                            <img class="hover-image" src="{{ p.image.url }}" alt="Product" />
                                                        </a>
                                                        <span class="flags">
                                                            <span class="new">-{{p.get_percentage|floatformat:0}}%</span>
                                                        </span>
                                                        
                                                        <div class="ec-pro-actions">
                                                            <a href="{% url 'core:product-detail' p.pid %}" class="quickview" data-link-action="quickview" title="Quick view"><i class="fi-rr-eye"></i></a>
                                                            <button class="ec-btn-group wishlist" title="Wishlist"><i class="fi-rr-heart  add-to-wishlist" data-product-item="{{p.id}}"></i></button>
                                                            
                                                            {% comment %} <a href="compare.html" class="ec-btn-group compare" title="Compare"><i class="fi fi-rr-arrows-repeat"></i></a> {% endcomment %}
                                                            <span class="add-cart">
                                                                <input type="hidden" value="1" name="" id="product-quantity" class="w-25 mb-20 product-quantity-{{p.id}}">
                                                                <input type="hidden" class="product-pid-{{p.id}}" value="{{p.pid}}">
                                                                <input type="hidden" class="product-image-{{p.id}}" value="{{p.image.url}}">
                                                                <input type="hidden" class="product-id-{{p.id}}" value="{{ p.id }}">
                                                                <input type="hidden" class="product-title-{{p.id}}" value="{{ p.title }}">
                                                                <button type="submit" id="add-to-cart-btn" class="ec-btn-group add-to-cart-btn" data-index="{{ p.id }}"><i class="fi-rr-shopping-basket" id="add-to-cart-btn"></i></button>
                                                            </span>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="ec-pro-content">
                                                    <a href=""><h6 class="ec-pro-stitle">{{ p.category }}</h6></a>
                                                    <h5 class="ec-pro-title"><a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a></h5>
                                                    <div class="ec-pro-rat-price">
                                                        <span class="ec-pro-rating">
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star"></i>
                                                            <i class="ecicon eci-star"></i>
                                                            <i class="ecicon eci-star"></i>
                                                        </span>
                                                        <span class="ec-price">
                                                            <span>₦</span><span class="new-price current-product-price-{{ p.id }}" id="current-product-price-{{ p.id }}">{{ p.price }}</span>
                                                            <span class="old-price">₦{{ p.old_price}}</span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- ec 1st Product tab end -->
                                
                            </div>
                        </div>
                    </div>

                    <div class="row space-t-50">
                        <!-- ec New Arrivals -->
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-6 ec-all-product-content ec-new-product-content margin-b-30" data-animation="fadeIn">
                            <div class="col-md-12">
                                <div class="section-title">
                                    <h2 class="ec-title">New Arrivals</h2>
                                </div>
                            </div>
                            <div class="ec-new-slider">
                                {%for p in products%}
                                <div class="col-sm-12 ec-all-product-block">
                                    <div class="ec-all-product-inner">
                                        <div class="ec-pro-image-outer">
                                            <div class="ec-pro-image">
                                                <a href="product-left-sidebar.html" class="image">
                                                    <img class="main-image" src="{{ p.image.url }}"
                                                        alt="Product" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ec-pro-content">
                                            <h5 class="ec-pro-title"><a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a></h5>
                                            <h6 class="ec-pro-stitle"><a href="">{{ p.description }}</a></h6>
                                            <div class="ec-pro-rat-price">
                                                <div class="ec-pro-rat-pri-inner">
                                                    <span class="ec-price">
                                                        <span class="new-price">₦{{ p.price}}</span>
                                                        <span class="old-price">₦{{ p.old_price}}</span>
                                                        
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="label veg" title="Veg">
                                            <span class="dot"></span>
                                        </span>
                                    </div>
                                </div>
                                {%endfor %}
                            </div>
                        </div>
                        <!-- ec Top Selling -->
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-6 ec-all-product-content ec-new-product-content margin-b-30" data-animation="fadeIn">
                            <div class="col-md-12">
                                <div class="section-title">
                                    <h2 class="ec-title">Top Selling</h2>
                                </div>
                            </div>
                            <div class="ec-new-slider">
                                {% for p in products %}
                                <div class="col-sm-12 ec-all-product-block">
                                    <div class="ec-all-product-inner">
                                        <div class="ec-pro-image-outer">
                                            <div class="ec-pro-image">
                                                <a href="{% url 'core:product-detail' p.pid %}" class="image">
                                                    <img class="main-image" src="{{ p.image.url }}"
                                                        alt="Product" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ec-pro-content">
                                            <h5 class="ec-pro-title"><a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a></h5>
                                            <h6 class="ec-pro-stitle"><a href="">{{ p.description }}</a></h6>
                                            <div class="ec-pro-rat-price">
                                                <div class="ec-pro-rat-pri-inner">
                                                    <span class="ec-price">
                                                        <span class="new-price">₦{{ p.price }}</span>
                                                        <span class="old-price">₦{{ p.old_price}}</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="label veg" title="Veg">
                                            <span class="dot"></span>
                                        </span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- ec Top Rated -->
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-6 ec-all-product-content ec-new-product-content m-auto" data-animation="fadeIn">
                            <div class="col-md-12">
                                <div class="section-title">
                                    <h2 class="ec-title">Top Rated</h2>
                                </div>
                            </div>
                            <div class="ec-new-slider">
                                {% for p in products %}
                                <div class="col-sm-12 ec-all-product-block">
                                    <div class="ec-all-product-inner">
                                        <div class="ec-pro-image-outer">
                                            <div class="ec-pro-image">
                                                <a href="{% url 'core:product-detail' p.pid %}" class="image">
                                                    <img class="main-image" src="{{ p.image.url }}"
                                                        alt="Product" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ec-pro-content">
                                            <h5 class="ec-pro-title"><a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a></h5>
                                            <h6 class="ec-pro-stitle"><a href="">{{ p.description }}</a></h6>
                                            <div class="ec-pro-rat-price">
                                                <div class="ec-pro-rat-pri-inner">
                                                    <span class="ec-price">
                                                        <span class="new-price">₦{{ p.price }}</span>
                                                        <span class="old-price">₦{{ p.old_price }}</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="label veg" title="Veg">
                                            <span class="dot"></span>
                                        </span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row space-t-50" data-animation="fadeIn">
                        <!--  Special Section Start -->
                        <div class="ec-spe-section col-lg-12 col-md-12 col-sm-12 sectopn-spc-mb">
                            <div class="col-md-12">
                                <div class="section-title">
                                    <h2 class="ec-title">Deal of the day</h2>
                                </div>
                            </div>

                            <div class="ec-spe-products">
                                <div class="ec-spe-product">
                                    <div class="ec-spe-pro-inner">
                                        <div class="ec-spe-pro-image-outer col-md-6 col-sm-12">
                                            <div class="ec-spe-pro-image">
                                                <img class="img-responsive" src="{% static 'assets/images/product-image/258834.jpg' %}" alt="">                                                                              
                                            </div>
                                        </div>
                                        <div class="ec-spe-pro-content col-md-6 col-sm-12">
                                            <div class="ec-spe-pro-rating">
                                                <span class="ec-spe-rating-icon">
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star"></i>
                                                    <i class="ecicon eci-star"></i>
                                                </span>
                                            </div>
                                            <h5 class="ec-spe-pro-title"><a href="">SKISET PRO DIGITAL LOCK S18-PRO</a></h5>
                                            <div class="ec-spe-pro-desc">Smart Keylock with face recognition, fingerprint scanner, keycard swipe, extended battery life, etc</div>
                                            <div class="ec-spe-price">
                                                <span class="new-price">₦399999.99</span>
                                                <span class="old-price">₦459999.00</span>
                                            </div>
                                            <div class="ec-spe-pro-btn">
                                                <a href="{% url 'core:product-list' %}" class="btn btn-lg btn-primary">Chick it out</a>
                                            </div>
                                            <div class="ec-spe-pro-progress">
                                                <span class="ec-spe-pro-progress-desc"><span>Already Sold:
                                                        <b>3</b></span><span>Available: <b>7</b></span></span>
                                                <span class="ec-spe-pro-progressbar"></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  Special Section End -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ec Product tab Area End -->

    <!--  Testimonial, Banner & Service Section Start -->
    <section class="section ec-ser-spe-section section-space-p">
        <div class="container" data-animation="fadeIn">
            <div class="row">
                <!-- ec Testimonial Start -->
                <div class="ec-test-section col-lg-3 col-md-6 col-sm-12 col-xs-6 sectopn-spc-mb" data-animation="slideInRight">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2 class="ec-title">Testimonial</h2>
                        </div>
                    </div>
                    <div class="ec-test-outer">
                        <ul id="ec-testimonial-slider">
                            <li class="ec-test-item">
                                <div class="ec-test-inner">
                                    <div class="ec-test-img">
                                        <img alt="testimonial" title="testimonial"
                                            src="{% static 'assets/images/testimonial/IMG-20220805-WA0039.jpg' %}" />
                                    </div>
                                    <div class="ec-test-content">
                                        <div class="ec-test-name">Stanley Onyeka</div>
                                        <div class="ec-test-designation">- Concerned Citizen</div>
                                        <div class="ec-test-divider">
                                            <i class="fi-rr-quote-right"></i>
                                        </div>
                                        <div class="ec-test-desc">A very good store with a wide range of products and
                                            services. I highly recommend them.
                                    </div>
                                </div>
                            </li>
                            <li class="ec-test-item">
                                <div class="ec-test-inner">
                                    <div class="ec-test-img">
                                        <img alt="testimonial" title="testimonial"
                                            src="{% static 'assets/images/testimonial/IMG-20220805-WA0039.jpg' %}" />
                                    </div>
                                    <div class="ec-test-content">
                                        <div class="ec-test-name">Stanley Onyeka</div>
                                        <div class="ec-test-designation">- CEO Stanon Digitals</div>
                                        <div class="ec-test-divider">
                                            <i class="fi-rr-quote-right"></i>
                                        </div>
                                        <div class="ec-test-desc">A very good store with a wide range of products and
                                            services. I highly recommend them.
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="ec-test-item">
                                <div class="ec-test-inner">
                                    <div class="ec-test-img">
                                        <img alt="testimonial" title="testimonial"
                                            src="{% static 'assets/images/testimonial/IMG-20220805-WA0039.jpg' %}" />
                                    </div>
                                    <div class="ec-test-content">
                                        <div class="ec-test-name">Stanley Onyeka</div>
                                        <div class="ec-test-designation">- CEO Stanon Digitals</div>
                                        <div class="ec-test-divider">
                                            <i class="fi-rr-quote-right"></i>
                                        </div>
                                        <div class="ec-test-desc">A very good store with a wide range of products and
                                            services. I highly recommend them.
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- ec Testimonial end -->
                <!-- ec Banner Start -->
                <div class="col-md-6 col-sm-12">
                    <div class="ec-banner-inner">
                        <div class="ec-banner-block ec-banner-block-1">
                            <div class="banner-block">
                                <div class="banner-content">
                                    <div class="banner-text">
                                        <span class="ec-banner-disc"> up to 25% discount</span>
                                    </div>
                                    <span class="ec-banner-btn"><a href="{% url 'core:product-list' %}">Shop Now <i
                                                class="ecicon eci-angle-double-right" aria-hidden="true"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ec Banner End -->
                <!--  Service Section Start -->
                <div class="ec-services-section col-lg-3 col-md-3 col-sm-3">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2 class="ec-title">Our Services</h2>
                        </div>
                    </div>
                    <div class="ec_ser_block">
                        <div class="ec_ser_content ec_ser_content_1 col-sm-12">
                            <div class="ec_ser_inner">
                                <div class="ec-service-image">
                                    <i class="fi fi-rs-truck-moving"></i>
                                </div>
                                <div class="ec-service-desc">
                                    <h2>Nationwide Delivery</h2>
                                    <p>Subject to location</p>
                                </div>
                            </div>
                        </div>
                        <div class="ec_ser_content ec_ser_content_2 col-sm-12">
                            <div class="ec_ser_inner">
                                <div class="ec-service-image">
                                    <i class="fi fi-ts-tachometer-fast"></i>
                                </div>
                                <div class="ec-service-desc">
                                    <h2>Next Day delivery</h2>
                                    <p>Lagos Orders Only</p>
                                </div>
                            </div>
                        </div>
                        <div class="ec_ser_content ec_ser_content_3 col-sm-12">
                            <div class="ec_ser_inner">
                                <div class="ec-service-image">
                                    <i class="fi fi-ts-circle-phone"></i>
                                </div>
                                <div class="ec-service-desc">
                                    <h2>Best Online Support</h2>
                                    <p>24 hours a day</p>
                                </div>
                            </div>
                        </div>
                        <div class="ec_ser_content ec_ser_content_4 col-sm-12">
                            <div class="ec_ser_inner">
                                <div class="ec-service-image">
                                    <i class="fi fi-ts-badge-percent"></i>
                                </div>
                                <div class="ec-service-desc">
                                    <h2>Flawless Installations</h2>
                                    <p>For interiors and smart home devices</p>
                                </div>
                            </div>
                        </div>
                        <div class="ec_ser_content ec_ser_content_5 col-sm-12">
                            <div class="ec_ser_inner">
                                <div class="ec-service-image">
                                    <i class="fi fi-ts-donate"></i>
                                </div>
                                <div class="ec-service-desc">
                                    <h2>Warranty Policy</h2>
                                    <p>For electronics & tech gadgets</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ec Service End -->
            </div>
        </div>
    </section>
    <!--  End Testimonial, Banner & Service Section Start -->

    <!-- Ec Instagram Start -->
    <section class="section ec-instagram-section section-space-pt">
        <div class="container">
            <h2 class="d-none">Instagram</h2>
            <div class="ec-insta-wrapper" data-animation="fadeIn">
                <div class="ec-insta-outer">
                    <div class="insta-auto">
                        <!-- instagram item -->
                        {% for p in products %}
                        <div class="ec-insta-item">
                            <div class="ec-insta-inner">
                                <a href="#" target="_blank"><img src="{{ p.image.url }}" alt="">

                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Ec Instagram End -->


       
{% endblock content %}