{% extends 'partials/base.html' %}
{% load static %}

{% block page_title %}iFNINE STORES | Product details {% endblock %}

{% block content %}

     <!-- Main Style -->
     <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" /> 
     <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" />
  
      <!-- Background css -->
     <link rel="stylesheet" id="bg-switcher-css" href="{% static 'assets/css/backgrounds/bg-4.css' %}"> 

    <!-- Ec breadcrumb start -->
    <div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row ec_breadcrumb_inner">
                        <div class="col-md-6 col-sm-12">
                            <h2 class="ec-breadcrumb-title">Single Products</h2>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <!-- ec-breadcrumb-list start -->
                            <ul class="ec-breadcrumb-list">
                                <li class="ec-breadcrumb-item"><a href="{% url 'core:index' %}">Home</a></li>
                                <li class="ec-breadcrumb-item active">Products</li>
                            </ul>
                            <!-- ec-breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ec breadcrumb end -->

    <!-- Sart Single product -->
    <section class="ec-page-content section-space-p">
        <div class="container">
            <div class="row">
                <div class="ec-pro-rightside ec-common-rightside col-lg-12 col-md-12">

                    <!-- Single product content Start -->
                    <div class="single-pro-block">
                        <div class="single-pro-inner">
                            <div class="row">
                                <div class="single-pro-img single-pro-img-no-sidebar">
                                    <div class="single-product-scroll">
                                        <div class="single-product-cover">
                                            <div class="single-slide zoom-image-hover">
                                                <img class="img-responsive" src="{{ p.image.url }}"
                                                    alt="product image">
                                            </div>
                                            {% for product_image in product_images %}
                                            <div class="single-slide zoom-image-hover">
                                                <img class="img-responsive" src="{{ product_image.images.url }}"
                                                    alt="product image">
                                            </div>
                                            {% endfor %}
                                            
                                        </div>
                                        
                                        <div class="single-nav-thumb">
                                            {% for product_image in product_images %}
                                            <div class="single-slide">
                                                <img class="img-responsive" src="{{ product_image.images.url }}"
                                                    alt="product image">
                                            </div>
                                            {% endfor %}
                                            {% for product_image in product_images %}
                                            <div class="single-slide">
                                                <img class="img-responsive" src="{{ product_image.images.url }}"
                                                    alt="">
                                            </div>
                                            {% endfor %}
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="single-pro-desc single-pro-desc-no-sidebar">
                                    <div class="single-pro-content">
                                        <h5 class="ec-single-title">{{ p.title }}</h5>
                                        <div class="ec-single-rating-wrap">
                                            <div class="ec-single-rating">
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star-o"></i>
                                            </div>
                                            <span class="ec-read-review"><a href="#ec-spt-nav-review">Be the first to
                                                    review this product</a></span>
                                        </div>
                                        <div class="ec-single-desc">{{ p.description|truncatechars:150|safe }}</div>

                                        <div class="ec-single-sales">
                                            <div class="ec-single-sales-inner">
                                                <div class="ec-single-sales-title">sales accelerators</div>
                                                {% comment %} <div class="ec-single-sales-visitor">real time <span>24</span> visitor
                                                    right now!</div> {% endcomment %}
                                                <div class="ec-single-sales-progress">
                                                    <span class="ec-single-progress-desc">Hurry up! Left {{p.stock_count}} items in
                                                        stock</span>
                                                    <span class="ec-single-progressbar"></span>
                                                </div>
                                                <div class="ec-single-sales-countdown">
                                                    <div class="ec-single-countdown"><span
                                                            id="ec-single-countdown"></span></div>
                                                    <div class="ec-single-count-desc">Time is Running Out!</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ec-single-price-stoke">
                                            <div class="ec-single-price">
                                                <span class="ec-single-ps-title">As low as</span>
                                                <span>
                                                    <span class="new-price" >₦</span><span class="new-price current-product-price-{{ p.id }}" id="current-product-price-{{ p.id }}" >{{ p.price }}</span>
                                                </span>
                                            </div>
                                            <div class="ec-single-stoke">
                                                <span class="ec-single-ps-title">IN STOCK</span>
                                                <span class="ec-single-sku">{{ p.sku }}</span>
                                            </div>
                                        </div>
                                        <div class="ec-pro-variation">
                                            <div class="ec-pro-variation-inner ec-pro-variation-size">
                                                <span>TAGS:</span>
                                                <div class="ec-pro-variation-content">
                                                    <span class="ec-single-ps-title">{% for tag in product.tags.all %} <a href="{% url 'core:tags' tag.slug %}" rel = "tag"> #{{ tag.name }} </a>,{% endfor %}</span>
                                                    <ul>
                                                        {% comment %} <li class="active"><span>{% for tag in product.tags.all %}<a href="#" rel = "tag">{{ tag.name }}{% endfor %}</span></li> {% endcomment %}
                                                    </ul>
                                                </div> 
                                            </div>
                                            {% comment %} <div class="ec-pro-variation-inner ec-pro-variation-color">
                                                <span>Color</span>
                                                <div class="ec-pro-variation-content">
                                                    <ul>
                                                        <li class="active"><span
                                                                style="background-color:#23839c;"></span></li>
                                                        <li><span style="background-color:#000;"></span></li>
                                                    </ul>
                                                </div>
                                            </div> {% endcomment %}
                                        </div>
                                        
                                        <div class="ec-single-qty">
                                            {% comment %} <div class="qty-plus-minus">
                                                <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
                                            </div>  {% endcomment %}
                                            
                                            <input type="number" value="1" name="" id="product-quantity" class="qty-plus-minus  w-25 mb-15 product-quantity-{{p.id}}"/><br/>
                                            
                                            <div class="ec-single-cart ">
                                                {% comment %} <input type="hidden" value="1" name="" id="product-quantity" class="w-25 mb-20 product-quantity-{{p.id}}"> {% endcomment %}
                                                <input type="hidden" class="product-pid-{{p.id}}" value="{{p.pid}}">
                                                <input type="hidden" class="product-image-{{p.id}}" value="{{p.image.url}}">
                                                <input type="hidden" class="product-id-{{p.id}}" value="{{ p.id }}">
                                                <input type="hidden" class="product-title-{{p.id}}" value="{{ p.title }}">
                                                <button class="btn btn-primary add-to-cart-btn" id="add-to-cart-btn" data-index="{{ p.id }}" type="submit">Add To Cart</button>
                                            </div>
                                            <div class="ec-single-wishlist">
                                                <a class="ec-btn-group wishlist" title="Wishlist"><i class="fi-rr-heart"></i></a>
                                            </div>
                                            <div class="ec-single-quickview">
                                                <a href="#" class="ec-btn-group quickview" data-link-action="quickview"
                                                    title="Quick view" data-bs-toggle="modal"
                                                    data-bs-target="#ec_quickview_modal"><i class="fi-rr-eye"></i></a>
                                            </div>
                                        </div>
                                        <div class="ec-single-social">
                                            <ul class="mb-0">
                                                <li class="list-inline-item facebook"><a href="#"><i
                                                            class="ecicon eci-facebook"></i></a></li>
                                                <li class="list-inline-item twitter"><a href="#"><i
                                                            class="ecicon eci-twitter"></i></a></li>
                                                <li class="list-inline-item instagram"><a href="#"><i
                                                            class="ecicon eci-instagram"></i></a></li>
                                                <li class="list-inline-item whatsapp"><a href="#"><i
                                                            class="ecicon eci-whatsapp"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Single product content End -->
                    <!-- Single product tab start -->
                    <div class="ec-single-pro-tab">
                        <div class="ec-single-pro-tab-wrapper">
                            <div class="ec-single-pro-tab-nav">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-bs-toggle="tab"
                                            data-bs-target="#ec-spt-nav-details" role="tablist">Detail</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#ec-spt-nav-info"
                                            role="tablist">Specification</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#ec-spt-nav-review"
                                            role="tablist">Reviews</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content  ec-single-pro-tab-content">
                                <div id="ec-spt-nav-details" class="tab-pane fade show active">
                                    <div class="ec-single-pro-tab-desc">
                                        <p>{{  p.description|safe }}
                                        </p>
                                    </div>
                                </div>
                                <div id="ec-spt-nav-info" class="tab-pane fade">
                                    <div class="ec-single-pro-tab-moreinfo">
                                        <ul>
                                            <li><span>Weight:</span> </li>
                                            <li><span>Dimensions:</span> </li>
                                            <li><span>Color:</span> </li>
                                        </ul>
                                    </div>
                                </div>

                                <div id="ec-spt-nav-review" class="tab-pane fade">
                                    <div class="row">
                                        <div class="ec-t-review-wrapper">
                                            {% for r in reviews %}
                                            <div class="ec-t-review-item">
                                                <div class="ec-t-review-avtar">
                                                    <img src="{% static 'assets/images/review-image/1.jpg' %}" alt="" />
                                                </div>
                                                <div class="ec-t-review-content">
                                                    <div class="ec-t-review-top">
                                                        <div class="ec-t-review-name">{{ r.user.username|title }}</div>
                                                        <div class="ec-t-review-rating">
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="ec-t-review-bottom">
                                                        <p>{{ r.review }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}

                                        </div>
                                        <div class="ec-ratting-content">
                                            <h3 class= "add-review">Add a review</h3>
                                            <strong class="text-success" id="review-resp"></strong>
                                            <div class="ec-ratting-form">
                                                <form class="form-contact comment_form hide-commentForm" action="{% url 'core:ajax-add-review' p.id %}" id="commentForm" method="POST">
                                                    
                                                    {% csrf_token %} 
                                                    <div class="ec-ratting-input">
                                                        {{ review_form.review }}
                                                    </div>
                                                    <div class="ec-ratting-input">
                                                       
                                                        Your rating:{{ review_form.rating }}
                                                    </div>
                                            
                                                    <div class="ec-ratting-input form-submit">
                                
                                                        <button class="btn btn-primary" type="submit" 
                                                            value="Submit">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- product details description area end -->
                </div>

            </div>
        </div>
    </section>
    <!-- End Single product -->

    <!-- Related Product Start -->
    <section class="section ec-releted-product section-space-p">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2 class="ec-bg-title">Related products</h2>
                        <h2 class="ec-title">Related products</h2>
                        <p class="sub-title">Browse The Collection of Top Products</p>
                    </div>
                </div>
            </div>
            {% if products %}
            <div class="row margin-minus-b-30">
                <!-- Related Product Content -->
                {% for p in products %}
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                    <div class="ec-product-inner">
                        <div class="ec-pro-image-outer">
                            <div class="ec-pro-image">
                                <a href="{% url 'core:product-detail' p.pid %}" class="image">
                                    <img class="main-image"
                                        src="{{ p.image.url }}" alt="Product" />
                                    <img class="hover-image"
                                        src="{{ p.image.url }}" alt="Product" />
                                </a>
                                <span class="percentage">{{ p.get_percentage|floatformat:0 }}%</span>
                                <a href="#" class="quickview" data-link-action="quickview" title="Quick view"
                                    data-bs-toggle="modal" data-bs-target="#ec_quickview_modal"><i class="fi-rr-eye"></i></a>
                                <div class="ec-pro-actions">
                                    <a href="compare.html" class="ec-btn-group compare" title="Compare"><i
                                            class="fi fi-rr-arrows-repeat"></i></a>
                                    <input type="hidden" value="1" name="" id="product-quantity" class="w-25 mb-20 product-quantity-{{p.id}}">
                                    <input type="hidden" class="product-pid-{{p.id}}" value="{{p.pid}}">
                                    <input type="hidden" class="product-image-{{p.id}}" value="{{p.image.url}}">
                                    <input type="hidden" class="product-id-{{p.id}}" value="{{ p.id }}">
                                    <input type="hidden" class="product-title-{{p.id}}" value="{{ p.title }}">
                                    <button title="Add To Cart" class="add-to-cart add-to-cart-btn" id="add-to-cart-btn" data-index="{{ p.id }}"><i
                                            class="fi-rr-shopping-basket"></i> Add To Cart</button>
                                    <a class="ec-btn-group wishlist" title="Wishlist"><i class="fi-rr-heart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ec-pro-content">
                            <h5 class="ec-pro-title"><a href="{% url 'core:product-detail' p.pid %}">{{ p.title}}</a></h5>
                            <div class="ec-pro-rating">
                                <i class="ecicon eci-star fill"></i>
                                <i class="ecicon eci-star fill"></i>
                                <i class="ecicon eci-star fill"></i>
                                <i class="ecicon eci-star fill"></i>
                                <i class="ecicon eci-star"></i>
                            </div>
                            <div class="ec-pro-list-desc">L{{ p.description|safe }}</div>
                            <span class="ec-price">
                                <span class="old-price">₦‎{{ p.old_price}}</span>
                                <span>₦‎<span class="new-price current-product-price-{{ p.id }}" id="current-product-price-{{ p.id }}">{{ p.price }}</span></span>
                            </span>
                            <div class="ec-pro-option">

                                <div class="ec-pro-color">
                                    {% comment %} <span class="ec-pro-opt-label">Color</span>
                                    <ul class="ec-opt-swatch ec-change-img">
                                        <li class="active"><a href="#" class="ec-opt-clr-img"
                                                data-src="{% static 'assets/images/product-image/6_1.jpg' %}"
                                                data-src-hover="assets/images/product-image/6_1.jpg"
                                                data-tooltip="Gray"><span
                                                    style="background-color:#e8c2ff;"></span></a></li>
                                        <li><a href="#" class="ec-opt-clr-img"
                                                data-src="{% static 'assets/images/product-image/6_2.jpg' %}"
                                                data-src-hover="assets/images/product-image/6_2.jpg"
                                                data-tooltip="Orange"><span
                                                    style="background-color:#9cfdd5;"></span></a></li>
                                    </ul> {% endcomment %}
                                </div>
                                <div class="ec-pro-size">
                                    <span class="ec-pro-opt-label">Size</span>
                                    <ul class="ec-opt-size">
                                        <li class="active"><a href="#" class="ec-opt-sz"
                                                data-old="$25.00" data-new="$20.00"
                                                data-tooltip="Small">S</a></li>
                                        <li><a href="#" class="ec-opt-sz" data-old="$27.00"
                                                data-new="$22.00" data-tooltip="Medium">M</a></li>
                                        <li><a href="#" class="ec-opt-sz" data-old="$35.00"
                                                data-new="$30.00" data-tooltip="Extra Large">XL</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>
    <!-- Related Product end -->

    <div class="footer-offer">
        <div class="container">
            <div class="row">
                <div class="text-center footer-off-msg">
                    <span>Need measurements taken or products installed?</span><a href="#" target="_blank">Click here</a>
                </div>
            </div>
        </div>
     </div>


    <!-- Vendor JS -->
    <script src="{% static 'assets/js/vendor/jquery-3.5.1.min.js' %}"></script>
    
    <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
  

    <!--Plugins JS-->
    <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/countdownTimer.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/scrollup.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/infiniteslidev2.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.sticky-sidebar.js' %}"></script>
    <!-- Google translate Js -->
    {% comment %} <script src="{% static 'assets/js/vendor/google-translate.js' %}"></script> {% endcomment %}
    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>
    <!-- Main Js -->
    {% comment %} <script src="{% static 'assets/js/vendor/index.js' %}"></script> {% endcomment %}
    <script src="{% static 'assets/js/main.js' %}"></script>
    {% comment %} <script src="{% static 'assets/js/function.js' %}"></script>   {% endcomment %}

</body>
</html>
{% endblock content %}