{% extends 'partials/base.html' %}
{% load static %}

{% block page_title %}iFNINE STORES | Register{% endblock %}
{% block content %}

    <!-- Main Style -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" />

    <!-- Background css -->
    <link rel="stylesheet" id="bg-switcher-css" href="{% static 'assets/css/backgrounds/bg-4.css' %}">


<!-- iFNINE breadcrumb start -->
<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
   <div class="container">
       <div class="row">
           <div class="col-12">
               <div class="row ec_breadcrumb_inner">
                   <div class="col-md-6 col-sm-12">
                       <h2 class="ec-breadcrumb-title">Register</h2>
                   </div>
                   <div class="col-md-6 col-sm-12">
                       <!-- iFNINE-breadcrumb-list start -->
                       <ul class="ec-breadcrumb-list">
                           <li class="ec-breadcrumb-item"><a href="index.html">Home</a></li>
                           <li class="ec-breadcrumb-item active">Register</li>
                       </ul>
                       <!-- iFNINE-breadcrumb-list end -->
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
<!-- iFNINE breadcrumb end -->

<!-- iFNINE Register page -->
<section class="ec-page-content section-space-p">
   <div class="container">
       <div class="row">
           <div class="col-md-12 text-center">
               <div class="section-title">
                   <h2 class="ec-bg-title">Register</h2>
                   <h2 class="ec-title">Register</h2>
               </div>
               {% if form.errors %}
               <div class="alert alert-danger">
                    <strong>{{ form.errors }}</stong>
                </div>
                {% endif %}
           </div>
           <div class="ec-login-wrapper">
               <div class="ec-login-container">
                   <div class="ec-login-form">
                       <form method="POST" action="">
                            {% csrf_token %}
                            <span class="ec-login-wrap">
                               {{ form.username }}
                            </span>
                            <span class="ec-login-wrap">
                                {{ form.email }}
                            </span>
                            <span class="ec-login-wrap">
                                {{ form.password1 }}
                            </span>
                            <span class="ec-login-wrap">
                                {{ form.password2 }}
                            </span>
                            <span class="ec-login-wrap ec-login-fp">
                                <label>Already have an account?<a href="{% url 'userauths:sign-in' %}"> Sign in.</a></label>
                            </span>
                            <span class="ec-login-wrap ec-login-btn">
                               <button class="btn btn-primary" type="submit">Register</button>
                            </span>
                           
                        </form>
                    </div>
               </div>
           </div>
       </div>
   </div>
</section>

<div class="footer-offer">
   <div class="container">
       <div class="row">
           <div class="text-center footer-off-msg">
            <span>Need measurements taken or products installed?</span><a href="#" target="_blank">Click here</a>
           </div>
       </div>
   </div>
</div>

{% endblock content %}